.git
.github
.vs
.vscode
.idea

**/bin
**/obj
**/TestResults

TestResults
artifacts
output
tmp
uploads
docs
tests
node_modules

.nuget
.dotnet-cli

.env
.env.*
!.env.example

*.user
*.suo
*.sln.docstates