<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
  <DataCollectionRunSettings>
    <DataCollectors>
      <DataCollector friendlyName="XPlat Code Coverage">
        <Configuration>
          <Format>cobertura</Format>
          <Include>
            [FlowDesk.Domain]*,
            [FlowDesk.Application]*
          </Include>
          <Exclude>
            [FlowDesk.Api]*,
            [FlowDesk.Infrastructure]*,
            [FlowDesk.UnitTests]*
          </Exclude>
          <ExcludeByAttribute>
            Obsolete,
            GeneratedCodeAttribute,
            CompilerGeneratedAttribute
          </ExcludeByAttribute>
          <ExcludeByFile>
            **/Persistence/Migrations/*.cs
          </ExcludeByFile>
          <SkipAutoProps>true</SkipAutoProps>
          <UseSourceLink>true</UseSourceLink>
        </Configuration>
      </DataCollector>
    </DataCollectors>
  </DataCollectionRunSettings>
</RunSettings>